@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap&subset=chinese-traditional');

* {
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif !important;
}

// custom component

.lh-1 {
  line-height: 1;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

// color palette
:root {
  --success: #4ed1b3;
  --warning: #ffbe1e;
  --error: #ff7d62;
  --gray-darker: #585858;
  --gray: #cdcece;
  --gray-light: #ececec;
  --gray-lighter: #f7f8f8;
  --gray-dark: #9b9b9b;
  --black-45: rgba(0, 0, 0, 0.45);
}
